.book-container
{
    display: flex;
    justify-self:center

    
}

.py-4
{
  width:85vw;
}
.table {
    
    margin-left :10px;
    margin-right: 30px;
    width: 100%; 
    max-width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
  }

/* Style table header */
.table th {
  padding-left: 50px;
  padding-right: 50px;
  width: 20vw;
  text-align: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

/* Style table rows */
.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Style table rows on hover */
.table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Style buttons within the table */
.table .btn {
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Style primary button */
.table .btn-primary {
  background-color: #007bff;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

/* Style outline button */
.table .btn-outline-primary {
  border: 1px solid #007bff;
  color: #007bff;
  background-color: transparent;
  margin-left: 20px;
  margin-right: 20px;
  
}

/* Style danger button */
.table .btn-danger {
  background-color: #dc3545;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
  padding-inline: 10px;
  
}

.actionbtn
{
  display: flex;
}
