.cart-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
.item-details {
    display: flex;
    align-items: center;
  }

  .item-details img {
    width: 100px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between image and text */
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #15037c;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #15037c;
  }
  